/* styles.css */

body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

header{
    background-color: #333;
    color:white;
    padding:20px;
    text-align:center;
}
header h1 {
    margin: 0;
}

header p {
    margin-top: 5px;
}
nav {
    display: flex;
    justify-content: space-around; /* Optional: Justify-Content für gleichmäßigen Abstand */
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    padding: 40px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


img {
    width: 100%; /* Oder eine feste Breite in Pixeln: width: 300px; */
    height: auto; /* Behält das Seitenverhältnis bei */
}
